.daytime-picker {
  font-size: $euiFontSizeS;
}

.daytime-picker__weekdays {
  white-space: nowrap;
}

.daytime-picker__day {
  display: inline-block;
  text-align: center;
  margin: 0 2px;
  text-transform: uppercase;
}

.daytime-picker__day-name,
.daytime-picker__day-hour {
  display: block;
  width: $euiSizeXL;
  height: $euiSizeXL;
  line-height: 32px;
}

.daytime-picker__day-name {
  font-size: $euiFontSizeXS;
  color: $euiColorMediumShade;
}

.daytime-picker__day-hour {
  color: $euiColorDarkShade;
  &.midday--am {
    //background-color: $euiColorLightestShade;
  }
  &.midday--pm {
    //background-color: $euiColorLightShade;
  }
}
