$euiColorVis1_behindText: #79AAD9;
$euiColorVis4_behindText: #E4A6C7;
$dayTimePickerPmBackground: tint($euiColorLightShade, 25%);

.daytime-picker {
  font-size: $euiFontSizeS;

  .daytime-picker__wrapper {
  }

  .daytime-picker__popper {
    z-index: 1;
    animation: euiAnimFadeIn $euiAnimSpeedFast ease-in;
    border: $euiBorderThin;
    background-color: $euiColorEmptyShade;
    border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
  }

  .daytime-picker__input {
    position: relative;
  }
}

.daytime-picker__week {
  white-space: nowrap;
  background-image: linear-gradient(to bottom, $euiColorEmptyShade 0%, $euiColorEmptyShade 52%, $euiColorEmptyShade 52%, $dayTimePickerPmBackground 52%, $dayTimePickerPmBackground 100%);
}

.daytime-picker__day {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;

  + .daytime-picker__day {
    margin-left: 2px;
  }
}

.daytime-picker__day-name,
.daytime-picker__day-hour {
  display: block;
  width: $euiSizeXL;
  height: $euiSizeXL;
  line-height: 32px;
}

.daytime-picker__day-name {
  font-size: $euiFontSizeXS;
  color: $euiColorMediumShade;
  cursor: pointer;
  &:hover {
    color: $euiColorDarkShade;
    background-color: $euiColorVis4_behindText;
  }

  &.day-name--selected {
    color: $euiColorPrimary;
  }
}

.daytime-picker__day-hour {
  color: $euiColorDarkShade;
  cursor: pointer;

  &:hover {
    color: $euiColorDarkShade;
    background-color: $euiColorVis1_behindText;
  }

  &.day-hour--am {
  }

  &.day-hour--pm {
  }

  &.day-hour--selected {
    color: $euiTextColor;
    background-color: tint($euiColorPrimary, 50%);
  }
}
